.temperature-grau-mode {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 50px;

  button {
    border-radius: 3.375rem;
    background: #585676;
    width: 2.5rem;
    height: 2.5rem;
    color: #e7e7eb;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    border: 0;

    &[data-state='checked'] {
      background: white;
      color: #110e3c;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}