.forecast {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  justify-content: center;

  div {
    background-color: #1e213a;
    width: 7.5rem;
    height: 11.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    footer {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      span {
        color: #e7e7eb;
        font-weight: 500;
      }
    }

    .min-temperature {
      color: #a09fb1;
      font-weight: 500;
    }
  }

  @media screen and (max-width:1085px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    align-items: center;
  }
}
